<%= form_for @review, :html => { :class => "form-horizontal review" } do |f| %>

  <% if @review.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Модель авто", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :car_model_id, CarModel.by_name.all, :id, :full_name, class: 'form-control' %>
    </div>
    <%=f.error_span(:car_model_id) %>
  </div>
  <div class="form-group">
    <%= f.label "Ціна від продавця", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :requested_price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:requested_price) %>
  </div>
  <div class="form-group">
    <%= f.label "Ім'я власника", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :owner_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:owner_name) %>
  </div>
  <div class="form-group">
    <%= f.label "Номер телефону власника", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :owner_phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:owner_phone) %>
  </div>
  
  <% if @review.needs_review? %>
    <div class="form-group">
      <%= f.label "Ціна від спеціаліста", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :suggested_price, :class => 'form-control' %>
      </div>
      <%=f.error_span(:suggested_price) %>
    </div>
    <div class="form-group">
      <%= f.label "Коментар", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :comment, :class => 'form-control' %>
      </div>
      <%=f.error_span(:comment) %>
    </div>
    <% @review.car_model.applicable_questions.each do |question| %>
      <div class="form-group">
        <label class="control-label col-lg-2" for="<%= question.id %>">
          <%= question.content %>
        </label>
        <div class="col-lg-10">
          <%= check_box_tag "review[answers[#{question.id}]]", true, @review.answers.where(question_id: question.id).first&.answer, class: 'form-check-input' %>
        </div><br>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reviews_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
